*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}
header{
    height: 6rem;
    background-color: #000;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 35px;
    border: 2px solid white;
}
header a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;   
}
header a:hover{
    color: red;
}
header a:active{
    color: greenyellow;
}
.hero{
    text-align: center;
    padding: 20px;
    background-color: #0f172ac5;
    color: #fff;
    line-height: 1.5rem;
}
main{
    display: grid;
    justify-content: space-evenly;
    padding: 20px;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
}
main section h1{
    text-align: center;
}
.card{
    border: 1px solid red;
    background-color: rgba(15, 23, 42, 0.75);
    color: #fff;
    padding: 25px;
    border-radius: 20px;
    height: 240px;
    width: 220px;
    text-shadow: 0 2px 4px #000;
    overflow: auto;
    scrollbar-width: none;
}
.card:hover{
    box-shadow: 2px 4px 20px rgb(255, 255, 255);
    border-color: blueviolet;
    cursor: pointer;
    transform: translateY(-5px);
    color: rgb(255, 60, 0);
}
.card:active{
    color: greenyellow;
}
.bottom{
    text-align: center;
    padding: 20px;
    background-color: #0f172ac5;
    color: #fff;
    line-height: 1.5rem;
}